<!--The content below is only a placeholder and can be replaced.-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" [routerLink] = "['/login']" routerLinkActive="active">login</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink] ="['/register']" routerLinkActive="active">register</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink] ="['/todo']" routerLinkActive="active">todo</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink] = "['/template']" routerLinkActive="active">template</a></li>
    </ul>

</nav>

<section>
  <router-outlet></router-outlet>
</section>